*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
img{
    width: 50px;
}
a{
    text-decoration: none ;
}
body{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
position: relative;
background-image: linear-gradient(to left, #ff6f61, white, #34568B );

}

ul li {
    list-style-type: none;
}
nav {
    position: fixed;
    width: 100%;
    height: 100px;
background-color: white;
z-index: 1000;


}
.navc {
    display: flex;
    justify-content: space-around;
    align-items: center;
flex-direction: row-reverse;
    width: 100%;
    height:100%;
    margin-left:auto ;
    margin-right: auto;
    position: relative;
}

nav .navc .logo img {
margin-top: auto;
margin-bottom: auto;
width: 66px;
}

nav .navc .buttonhold ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
nav .navc .buttonhold ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
nav .navc .buttonhold ul li h5 {
font-size: 20px;
color: #ff6f61;
}
nav .navc .buttonhold ul li i {
font-size: 20px;
color: #34568B;
display: flex;
justify-content: center;
}
nav .navc .buttonhold ul a  {

    padding: 7px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, #ff6f61,white,#34568B) border-box;
border-radius: 50em;
border: 4px solid transparent;
width: fit-content;
margin: 10px;
transition: .2s linear;
}
nav .navc .buttonhold ul  :hover  {
filter: saturate(5);
transform: scale(1.05);
filter: brightness(.9);
}
.bc img {
    height: 450px;
    width: 270px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    box-shadow: 0px 0px 5px 1px #a3473f;
bottom: 180px;

}

.bc{
    background-color: #ff6f61;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    height: 1000px;
}
svg {
    position: relative;
    bottom: 10px;
}
.t {
    width: fit-content;
    height: 400px;
    position: relative;
    bottom: 130px;
    width: 700px;
}
.t1{
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 10px rgb(154, 154, 160);
    width: 620px;
    position: absolute;

    line-height: 1.8;
    text-align: center;
}
.t2{
    font-size: 30px;
    font-weight: 700;
    padding-top: 155px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 10px rgb(154, 154, 160);
    position: absolute;
    width: 620px;
}
.container2{
    position: relative;
    background-image: linear-gradient(to left , #ff6f61 , white , #34568B);
}
.grades{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px dashed black;
    border-radius: 40px;
    margin-left: 60px;
    margin-right: 60px;
padding: 30px;
box-shadow:2px 2px 10px #231e42 inset;
height: 400px;
transform: translateY(-40px);
}
.grades a {
    position: relative;
display: flex;
justify-content: center;
align-items: center;
width: calc(96% / 3);
height: 100%;
background-color: white;
border-radius:50px ;
}
.grades a:first-child{
    background-color: #ff6f61;
}
.grades a:last-child{
    background-color: #34568B;
}
.grades a div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    transition: 0.15s linear;
    position: relative;
}
.grades a div h1 {
font-size: 90px;
position: relative;
bottom: 50px;

}
.grades a div hr{
width: 50%;
font-weight: 900;
position: relative;
bottom: 80px;
}
.grades a div h5 {
font-size: 30px;
position: relative;
bottom: 50px;
}
.grades a div:hover {
    transform: scale(1.15);
    filter: contrast(100);
}
.container3{
    position: relative;
    background-color: #34568B;
    height: 1300px;
}
@media (min-width:2500px) {
.container3 .parent{
    transform: translateY(-320px);
}
}
.container3 svg {
    transform: rotateX(180deg);
    background-image: linear-gradient(to left, #ff6f61, white, #34568B );
    position: relative;

}
.container3 svg path{
    fill: #34568B;

}
.container3 img {
clip-path: circle(99% at top right);
display: flex;
justify-content: space-between;
align-items: center;
width: 20%;
border-radius: 40px;
}
.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parent2{
padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
margin: 0;
}
.parent2 h3 {
    font-size: 49px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    position: relative;
    bottom: 170px;
    text-shadow: 5px 5px 15px rgb(40, 40, 50);
    width: fit-content;
    text-align: center;
}
.parent2 p {
   font-size: 40px;
   font-weight: 400px;
   color: white;
   text-align: center;
   line-height: 1.5;
   position: relative;
padding: 0px 10px;
   text-shadow: 1px 1px 10px rgb(154, 154, 160);
}
.container4{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231e42;
}
.container4 .p1{
height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.c34{
    background-color: #34568B;
}
.container4 .p1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    border-radius: 10px;
    margin: 15px;
    height: 160px;
    width: 160px;
    text-align: center;
}
.container4 .p1 a div hr {
    width: 60px; 
   font-weight: 900;
   color: black;
   font-size: 40px;
   transform: translateY(-5px);
}
.container4 .p1 a div svg {
  transform: translateY(-10px);
}
.container4 .p1 a div h5{
    color: #231e42;
}
.container4 .p1 a :hover {

    filter: brightness(1.2);
}
@media (max-width:1023px) {
    .bc {
        top: 0;
        width: 100%;
        position: relative;
        height: 1000px;
        }
        svg {
            position: relative;
            top: 0;
        }
        .t{
            width: 450px;
            padding-left: 0;
            padding-right: 0;
            line-height: 1.8;
            text-align: center;

        }
        .t1{
            width: 420px;
            line-height: 1.8;
            text-align: center;
        }
        .t2{
text-align: center;
            padding-top:200px;
            width: 420px;
            right: 0;
        }
        .bc img {
            position: relative;
            transform: translateX(-20px);
            bottom: 180px;
        }
        .grades{
height: 360px;
        }
        .grades a div h5{
text-align: center;
font-size: 25px;
        }
        .parent  {
            padding: 0;
            margin: 0;
            text-align: center;
            height: 900px;
            transform: translateY(-250px);
        }
        .parent2{
            margin: 0;
            
        }
        .parent2 h3 {
            transform: translateY(120px);
            font-size: 36px;
          
        }
        .parent2 p {
            font-size: 30px;
            line-height: 1.6;
        }
        .container3 img {
            width: 35%;
        }
        .container3{
            height: 800px;
        }
    }
@media(max-width: 767px) {
nav .navc .buttonhold ul a {
    width: 135px;
margin: 3px;
padding: 4px;
}
nav .navc .buttonhold ul li h5 {
    font-size: 15px;
    }
nav .navc .buttonhold ul li i {
    font-size: 15px;
    }
    nav .navc .buttonhold ul  {
        flex-direction: column;
    }
    .bc img {
        height: 230px;
        width: 230px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
position: relative;
        box-shadow: 0px 0px 5px 1px #a3473f;
        top: 100px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0 , 0);
right: 0;
    }
.bc {
top: 0px;
flex-direction: column;
padding: 0;
margin-left: auto;
margin-right: auto;
position: relative;
height: 700px;
}
svg {
    position: relative;
    top: 0;
}
.t1{
    font-size: 22px;
    padding: 0;
    width: 230px;
    line-height: 2.3;
    font-weight: 800;
top: 270px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.t2{
    font-size: 24px;
    padding: 0;
    width: 250px;
    margin: 0;
    line-height: 2;
    font-weight: 800;
top: 480px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}
.t{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.grades {display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:80%;
margin-left: auto;
margin-right: auto;
height: 950px;
}
.grades a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    height: 280px;
}
.grades a div h1{
font-size: 68px;
transform: translateY(18px);
}
.grades a div hr{
font-size: 48px;
transform: translateY(15px);
}
.grades a div h5{
font-size: 25px;
transform: translateY(12px);
}
.container3 img {
    width: 70%;
    clip-path: none;
transform: translateY(220px);
}
.container3{
    height: 1000px;
}
.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
flex-direction: column;

}
.parent2{
margin-left: 4px;
margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.parent2 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    position: relative;
    text-shadow: 5px 5px 15px rgb(28, 28, 47);

}
.parent2 p {
   font-size: 26px;
   font-weight: 400px;
   color: white;
   text-align: center;
   line-height: 1.5;
   position: relative;
   text-shadow: 1px 1px 10px rgb(154, 154, 160);
   width: 100%;

}
.p1 a  {
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    width: 90px;
}
.container4 .p1  div {
    height: 130px;
    width: 100px;
}
.container4 .p1 a div hr {
    width: 15px;
}
}









































